<%= javascript_include_tag 'angular/services/tasks' %>
<%= javascript_include_tag 'angular/services/daily_reviews' %>
<%= javascript_include_tag 'angular/services/roles' %>

<%= javascript_include_tag 'angular/controllers/task-list' %>
<%= javascript_include_tag 'angular/controllers/task-detail' %>
<%= javascript_include_tag 'angular/controllers/new-task' %>
<%= javascript_include_tag 'angular/controllers/roles' %>
<%= javascript_include_tag 'angular/controllers/check' %>

<%= javascript_include_tag 'tasks' %>

<div data-ng-app="task" data-ng-csp="">
  <div ng-view></div>
</div>
